.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 24px;
    border: 1px solid gray;
    background-color: #6c8c9d;
    border-radius: 5px;
}

.content:hover {
    background-color: #687a7eec;
}

.col {
    margin-top: 10px;
    width: fit-content;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 90%;
    gap: 10px;
}

mat-form-field {
    height: 44px;
}